# jira settings - see /etc/init.d/jira

USER={{ jira_user }}
# Location of application's bin directory
BASE={{ jira_distdir }}
# Location of Java JDK
export JAVA_HOME={{ java8_home }}
# writable directory for Jira content
export JIRA_HOME={{ jira_home }}
